Port 22
PermitRootLogin no
PasswordAuthentication yes
PermitEmptyPasswords yes
UsePAM yes
AllowUsers nethack
ForceCommand /opt/nethack/menu.sh
PrintMotd no
PrintLastLog no
AcceptEnv LANG LC_*
X11Forwarding no
